<div id='content'>
  <div class='panel'>
    <div class='header topic_header'>
      <span class="topic_full_title">
        <% if (article.top) { %>
        <span class='put_top'>置顶</span>
        <% } else if (typeof(type) !== 'undefined' &&  type === 'all' && article.article_type) { %>
        <span class="topiclist-tab"><%= article.article_type %></span>
        <% } %>
        <%= article.title %>
      </span>
      <div class="changes">
        <span>
          发布于 <%= article.create_at %>
        </span>
        <span>
          作者 <a href="#"><%= article.author.loginname %></a>
        </span>
        <span>
          <%= article.visit_count %> 次浏览
        </span>
        <span>
          最后编辑于 <%= article.update_at %>
        </span>

      </div>
    </div>
    <div class='inner topic'>

      <div class='topic_content'>
        <%= article.content %>
      </div>
    </div>
  </div>
</div>
