
<div class='cell'>

  <%
    if (current_user) {
  %>
  <span class='pull-right space'>
    <a href="javascript:;" data-id="<%= article._id %>" class='delete_topic_btn'>删除</a>
  </span>

  <span class='pull-right space'>
    <a href="/article/<%= article._id %>/edit" class='edit_topic_btn'>编辑</a>
  </span>

  <span class='pull-right space'>
    <a href="javascript:;" data-id="<%= article._id %>" class='top_topic_btn'>置顶</a>
  </span>
  <%
    }
  %>
  <span class='last_time pull-right space'>
    <span class="last_active_time"><%= article.create_at.toLocaleString() %></span>
  </span>

  <div class="topic_title_wrapper">
    <% if (article.top) { %>
      <span class='put_top'>置顶</span>
    <% } else if (typeof(article_type) !== 'undefined' &&  article_type === 'all' && article.article_type) { %>
    <span class="topiclist-tab"><%= article.article_type %></span>
    <% } %>

    <a class='topic_title' href='/article/<%= article._id %>' title='<%= article.title %>'>
      <%= article.title %>
    </a>
  </div>
</div>


